.App {
  padding: 6.4rem;
}
.app__scatterPlot {
  line-height: 1.2;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.app__scatterPlot-paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

@media screen and (max-width: 400px) {
  .App {
    padding: 1.6rem;
  }
}
